<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="connect">Se connecter</a></li>

        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="connect">Se connecter</a></li>

        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2"></h1>
            <div class="row center">
                <h5 class="header col s12 light">« Créer, c’est vivre deux fois », Albert Camus</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    {% block content %}
    {% endblock %}
    {% block contact %}
    {% endblock %}
</div>


<footer class="page-footer teal blue-grey darken-1">
    <div class="container">
        <div class="left-align">
            <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
            <script type="in/share" data-counter="top"></script>
            <a class="github-button" href="https://github.com/Forgay" data-size="large"
               aria-label="Follow @Forgay on GitHub">Follow @Forgay</a>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Guillaume Thareau</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>