{% extends 'AdminsLayout.html.twig' %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="center col l4 m8 s12 offset-l4 offset-m4">
                <div class="card-panel">
                    <div class="center">
                        <img src="/img/admin.png" alt="administrateur" width="50%"/>
                    </div>
                    <h4 class="center-align indigo-text text-indigo lighten-2">S'inscrire</h4>
                    <form action="/logon" class="center-align" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="pseudo" name="pseudo"/>
                                <label for="pseudo">Votre pseudo</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="email" id="email" name="email"/>
                                <label for="email">votre adresse mail</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="password" id="password" name="password"/>
                                <label for="password">Mot de passe</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="password" id="passwordVerif" name="passwordVerif"/>
                                <label for="passwordVerif">Vérification du mot de passe</label>
                            </div>
                        </div>
                        <button type="submit" name="submit" class="waves-effect waves-light btn indigo lighten-2">
                            S'inscrire<i class="material-icons left">perm_identity</i></button>
                        {% if session %}
                            {% for message in session %}
                                <div class="flash-error">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
                <button  type="submit" name="submit"  class="center waves-effect waves-light btn indigo lighten-2">
                    <a href="/connect" class="white-text">Se connecter</a><i class="material-icons left">perm_identity</i>
                </button>

            </div>
        </div>
    </div>
{% endblock %}

