{% extends 'AdminsLayout.html.twig' %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="center col l4 m6 s12 offset-l4 offset-m3">
                <div class="card-panel">
                    <div class="row">
                        <img src="/img/admin.png" alt="administrateur" width="50%"/>
                    </div>
                    <h4 class="center-align">Réinitilisation</h4>
                    <form action="/send" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="pseudo" name="pseudo"/>
                                <label for="pseudo">Votre pseudo</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="email" id="email" name="email"/>
                                <label for="email">votre adresse mail</label>
                            </div>
                        </div>
                        <button type="submit" name="submit" class="waves-effect waves-light btn indigo lighten-2"
                                style="margin-bottom: 10px;">
                            <i class="material-icons left">perm_identity</i>
                            Envoyer
                        </button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}