{% extends 'AdminsLayout.html.twig' %}
{% block content %}

    <h2>Poster un article</h2>
    <form action="/add/post" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="title" id="title"/>
                <label for="title">Titre de l'article</label>
            </div>
            <div class="input-field col s12">
                <textarea name="content" id="content" class="materialize-textarea"></textarea>
                <label for="content">Contenu de l'article</label>
            </div>
            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn indigo lighten-2">
                        <span>Image</span>
                        <input type="file" name="images">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <p>Publier</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="posted">
                    <label class="form-check-label" for="gridCheck1">
                        Oui
                    </label>
                </div>
            </div>
            <div class="col s12 center-align">
                <br/><br/>
                <button class="btn indigo lighten-2" type="submit" name="post">Publier</button>
            </div>
        </div>
    </form>
{% endblock %}